version: '3'
services:
  app:
    build:
        context: .
        dockerfile: Dockerfile
    hostname: saeschoolparents
    command: ruby app.rb -o 0.0.0.0
    expose:
      - 4567
    restart: always
    environment:
      VIRTUAL_HOST: saeschoolparents.club
      LETSENCRYPT_HOST: saeschoolparents.club
      LETSENCRYPT_EMAIL: admin@highliondigital.com
    container_name: saeschoolparents
